
          <ul>
            <li><a href="{{ '/publications/' | relative_url }}">A GPU-Based Ocean Dynamical Core for Routine Mesoscale-Resolving Climate Simulations</a> (2025)</li>
            <li><a href="{{ '/publications/' | relative_url }}">A New WENO-Based Momentum Advection Scheme for Simulations of Ocean Mesoscale Turbulence</a> (2024)</li>
            <li><a href="{{ '/publications/' | relative_url }}">Oceananigans.jl: A model that achieves breakthrough resolution, memory and energy efficiency in global ocean simulations</a> (2023)</li>
            <li><a href="{{ '/publications/' | relative_url }}">Turbulence modulation in thermally expanding and contracting flows</a> (2021)</li>
            <li><a href="{{ '/publications/' | relative_url }}">A fast GPU Monte Carlo radiative heat transfer implementation for coupling with direct numerical simulation</a> (2019)</li>
          </ul>
